/* Основные стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

/* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

/* Стили для поискового поля */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для выделения найденных результатов */
.highlighted-text {
    background-color: yellow;
}

/* Стили для чекбокса */
input[type="checkbox"] {
    transform: scale(1.5);
}

/* Стили для ссылки "Видалити" */
a {
    text-decoration: none;
    color: #0074cc;
}

a:hover {
    text-decoration: underline;
}
